{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<!--Main layout-->
<main class="mt-2 pt-4">
  <div class="container-fluid wow fadeIn">

    <!-- Heading -->
    <h2 class=" h2 text-center">Checkout form</h2>



    <!--Grid row-->
    <div class="row">


      <!--Grid column-->
      <div class="col-md-12 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-----------------------------Card order summary----------------------------->
          
            <div class="card text-white bg-primary" style="color: black ;">

              <div class="card-header ">
                Order Summary
              </div>
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr class="bg-primary">

                      <th scope="col">Item(s)</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Price</th>
                      <th scope="col">Total</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {%for item in order_list.items.all%}
                    <tr class=bg-primary>
                      <td>{{item.item.Name}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.item.Price}}</td>
                      <td> {{item.total_item_price}}</td>
                      
                      
                      
                      
                    </tr>
                    
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <!-----------------------------Card address------------------------------>
            <div class="card text-white bg-primary">
              <div class="card-header">
                <span>Customer info</span>
                <a  class="badge badge-pill badge-success" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">
                  ADD
                </a>
              </div>
              <div class="card-header">
                <h6 >Phone NO :{{address.phone_no}}</h1>
                <h6 >Address: {{address.area_name}} - {{address.street_name}} </h5>
                <h6 >Apartment Number:{{address.apartment_number}}</h1>
                
                
              </div>
            </div>
            <br>
            <!-----------------------------Card paymet----------------------------->
            <div class="card text-white bg-primary">
              <div class="card-header">
                <span>Payment summary</span>
                
              </div>
              <div class="card-body">
                <h5 class="card-title">Checkout : {{ order_list.total_price }}</h5>
                <p class="card-text"></p>
                
              </div>
            </div> 

          
            <hr class="mb-4">
            <a  href="{% url 'place_order' %}"class="btn btn-success btn-lg btn-block" type="submit">checkout</a>

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->



    </div>
    <!--Grid row-->

  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">{% csrf_token %}
          {{ form |crispy }}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
