{% extends "base.html" %}


{% block content %}



<!--Main layout-->
<main>
  <div class="container">

    <div class="row">

      <div class="col-md-8 mb-4">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

          <!-- Navbar brand -->
          <span class="navbar-brand">Categories:</span>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" value='None'>All
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {%for cat in category_list %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}?category={{cat.Name}}">{{cat.Name}}</a>
              </li>
              {%endfor%}
            </ul>
            <!-- Links -->

            <form class="form-inline">
              <div class="md-form my-0">
                <input id = "search_here" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div>
          <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4" >

          <!--Grid row-->
          <div class="row wow fadeIn" id="box">
          
            {%for item in item_list%}
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4" >

              <!--Card-->
              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img src="{{item.Image.url}}" class="card-img-top" alt="" style="height: 200px;">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                  <!--Category & Title-->
                  {%csrf_token%}
                  <input type="hidden" id="itemId" name="itemId" value="{{item.id}}">
                  <a href="" class="grey-text">
                    <h5>{{item.Category}}</h5>
                  </a>
                  <h5>
                    <strong>
                      <p id='itemname' class="dark-grey-text">{{item.Name}}

                      </p>
                    </strong>
                  </h5>

                  <h4 class="font-weight-bold blue-text">
                    <strong>{{item.Price}}</strong>
                  </h4>

                  <input type="submit" class=" btn btn-primary" data-id="{{ item.id }}"  onclick="Additem({{ item.id }})" value="ADD">

                </div>
                <!--Card content-->

              </div>
              <!--Card-->

            </div>
            {%endfor%}
          </div>
        </section>



        <!--Pagination-->
        
      </div>
      <div class="col-md-4 mb-4">

        <div class="sticky">
          <div id='results'>
            {% block results %}
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3 pt-4 " style="margin-top: 10px;">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">{{order_list.items.all.count}}</span>
            </h4>

            <!-- Cart -->

            <ul class="list-group mb-3 z-depth-1 mt-3">
              {%if order_list.items.all.count > 0 %}
              {%for order in order_list.items.all %}

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <table class="table">
                  <tr>
                    <th scope="col">
                      <h6 id="item_name" class="my-0">{{order.item.Name}}</h6>

                    </th>
                    <th scope="col">
                      <a id="{{order.item.id}}" onclick="Additem(id)">
                        <i class="fas fa-plus-circle"></i>
                      </a>

                    </th>
                    <th scope="col">
                      <small id="item_quantity" class="text-muted">{{order.quantity}}</small>
                    </th>
                    <th scope="col">
                      <a id="{{order.item.id}}" onclick="remove_single_item(id)">
                        <i class="fas fa-minus-circle"></i>
                      </a>
                    </th>
                    <th scope="col">
                      <span id="item_price" class="text-muted">${{order.item.Price}}</span>
                    </th>
                    <th scope="col">
                      <a id="{{order.item.id}}" onclick="remove_item(id)">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </th>
                  </tr>
                </table>
              </li>
              {%endfor%}


              
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (LE)</span>
                <strong>{{order_list.total_price}}</strong>
              </li>
              <a href="{%url 'chekout' %}" class="btn btn-success">Process checkout</a>
            </ul>
            {%else%}
            
            <div class="container-fluid mt-100">
              <div class="row">
                  <div class="col-md-12">
                      <div >
                          <div>
                              
                          </div>
                          <div >
                              <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                  <h3><strong>Your Cart is Empty</strong></h3>
                                  <h4>Add something to make me happy :)</h4> 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            {%endif%}
            {%endblock%}
          </div>
          <!-- Cart -->

        </div>
      </div>
    </div>
  </div>

</main>
<!--Main layout-->
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
  
//Search
const data = '{{ qs_json }}'

const rdata = JSON.parse(data.replace(/&quot;/g,'"'))

const input = document.getElementById('search_here')

let filteredArr = []
input.addEventListener('keyup', (e) =>{
  box.innerHTML = ""
  filteredArr = rdata.filter(Item=> Item['Name'].includes(e.target.value))
  console.log(filteredArr)
  if (filteredArr.length > 0){
    filteredArr.map(Item=>{
      
      box.innerHTML +=
       `
       <div class="col-lg-4 col-md-6 mb-4" >
       <div class="card">

<!--Card image-->
<div class="view overlay">
  <img src="/media/${Item['Image']}" class="card-img-top" alt="" style="height: 200px;">
  <a>
    <div class="mask rgba-white-slight"></div>
  </a>
</div>
<!--Card image-->

<!--Card content-->
<div class="card-body text-center">
  <!--Category & Title-->
  {%csrf_token%}
  <input type="hidden" class="like" id="itemId" name="itemId" value="${Item['id']}">
  <a href="" class="grey-text">
    <h5>${Item['Category__Name']}</h5>
  </a>
  <h5>
    <strong>
      <p id='itemname' class="dark-grey-text">${Item['Name']}

      </p>
    </strong>
  </h5>

  <h4 class="font-weight-bold blue-text">
    <strong>${Item['Price']}$</strong>
  </h4>

  <input type="submit" class="btn btn-primary" onclick="Additem(${Item['id']})"  data-id="${Item['id']}" value="ADD">

</div>
<!--Card content-->

</div>
<!--Card-->
</div>
</div>
</div>`
    })
  }
})

  function Listitem() {
    var delay = 100;
    $.ajax({
      type: 'GET',
      url: '/POS/cart_list',
      success: function (data) {
        setTimeout(function () {
          delaySuccess(data);
        }, delay);
      }
    });
  }
  function delaySuccess(data) {
    $('#results').html(data);
  }
  function Additem(id) {
    $.ajax(
      {
        type: "POST",
        url: "/POS/add_to_cart/" + id,
        data: {
          post_id: id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
          if (data.status == 'fail') {
            window.location.href = '/accounts/login';
          }
          if (data.status == 'success') {
            for (var i = 0; i < 1000; i++)
              console.log('ddd');
            Listitem();
          }
        }

      })


  } // end function Additem(id)

  function remove_single_item(id) {
    $.ajax(
      {
        type: "POST",
        url: "/POS/remove_from_cart/" + id + "/5",
        data: {
          post_id: id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
          if (data.status == 'fail') {
            window.location.href = '/accounts/login';
          }
          if (data.status == 'success') {
            for (var i = 0; i < 1000; i++)
              console.log('ddd');
            Listitem();
          }
        }

      })
  }
  function remove_item(id) {
    $.ajax(
      {
        type: "POST",
        url: "/POS/remove_from_cart/" + id,
        data: {
          post_id: id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
          if (data.status == 'fail') {
            window.location.href = '/accounts/login';
          }
          if (data.status == 'success') {
            for (var i = 0; i < 1000; i++)
              console.log('ff');
            Listitem();
          }
        }

      })
  }
</script>
{% endblock scripts %}

{% endblock %}
